<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Your Info</title>
  <script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>
  <!-- Font Icon -->
  <link rel="stylesheet" href="/fonts/material-icon/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script> 
  <!-- Main css -->
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <div class="main">

    <!-- Sing in  Form -->
    <section class="sign-in">
      <div class="container">
        <div class="signin-content">
          <div class="avatar-image image">
            <figure><img id="img-ava" src="<%= user.avatarUrl %>" alt="sing up image"></figure>
            <div class="signup-image-link">
              <p>Update Your Avatar</p>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">
                <i class="zmdi zmdi-camera zmdi-hc-2x space" id="webcam-caption"></i>
              </button>
      
              <i class="zmdi zmdi-collection-folder-image zmdi-hc-2x space"></i>
            </div>
          </div>

          <div class="profile-info">
            <h2 class="form-title">Your information</h2>
            <form method="POST" class="register-form" id="login-form" action="/users/user_info">
              <div class="form-group">
                <label for="your_name"><i class="zmdi zmdi-account"></i></label>
                <input class="form-control" name="full_name" type="text" id="your_name" placeholder="Your name" value="<%= user.fullName %>">
              </div>
              <div class="form-group">
                <label for="example-date-input"><i class="zmdi zmdi-cake"></i></label>
                <input class="form-control" name="birth_day" type="date" value="<%= user.birthDay %>" id="example-date-input">
              </div>
              <div class="form-group">
                <label for="provinces"><i class="zmdi zmdi-gps-dot"></i></label>
                <select class="form-control" id="provinces" name="province">
                  <% if (user.district) { %>
                    <option value="<%= user.district.province.id %>" disabled selected><%= user.district.province.name %></option>
                  <% } else { %>
                    <option value="" disabled selected>Your district</option>
                  <% } %>
                  <% if (provinces && provinces.length) { %>
                    <% for (var item of provinces) { %>
                  <option value="<%= item.id %>"><%= item.name %></option>
                    <% } %>
                  <% } %>
                </select>
              </div>
              <div class="form-group">
                <label for="districts"><i class="zmdi zmdi-gps-dot"></i></label>
                <select class="form-control" id="districts" name="district">
                  <% if (user.district) { %>
                    <option value="<%= user.district.id %>" disabled selected><%= user.district.name %></option>
                  <% } else { %>
                    <option value="" disabled selected>Your district</option>
                  <% } %>
                </select>
              </div>
              <div class="form-group form-button">
                <input type="submit" name="signin" id="signin" class="form-submit" value="Submit" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

  </div>

  <!-- Large modal -->
  <div id="webcam-app" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width: unset !important;">
      <div class="modal-content">
        <div id="app-panel" class="app-panel md-content row p-0 m-0">     
          <div id="webcam-container" class="webcam-container col-12 d-none p-0 m-0">
            <video id="webcam" autoplay playsinline width="640" height="480"></video>
            <canvas id="canvas" class="d-none"></canvas>
            <audio id="snapSound" src="/audio/snap.wav" preload = "auto"></audio>
          </div>
          <div id="cameraControls" class="cameraControls">
            <a href="#" id="exit-app" title="Exit App" class="d-none"><i class="material-icons"></i></a>
            <a href="#" id="take-photo" title="Take Photo"><i class="material-icons"></i></a>
            <i id="download-photo" class="material-icons d-none">file_download</i>  
            <a href="#" id="resume-camera"  title="Resume Camera" class="d-none"><i class="material-icons"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/js/axios.min.js"></script>
  <script src="/js/webcam.js"></script>
  <script>
    var provins = <%- JSON.stringify(provinces) %>;
    $('#provinces').on('change', function() {
      $('#districts').find('option')
      .remove()
      .end();
      $('#districts').append(new Option('Your district', '', true));
      var choised = provins.find(item => item.id == $(this).val());
      for (const dis of choised.districts) {
        $('#districts').append(new Option(dis.name, dis.id));
      }
    });
  </script>
</body>

</html>
